body{
    font-family: 'M PLUS Code Latin', monospace;
}
#header{
    display: flex;
}
#berry-dialog{
    width: 25vw;
    height: 50vh;
}
#berry-grid{
    position: absolute;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    gap: 30px;
}
#berry-grid img{
    width: 85px;
    height: 90px;
}
#berry-text img{
    width: 85px;
    height: 90px;
}
@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait) {
    #berry-grid {
        grid-template-columns: repeat(4, 1fr);
        gap: 10px; /* Adjust the gap as needed */
    }

    #berry-grid img {
        width: 100%; /* Make images take up 100% width of the container */
        height: auto; /* Maintain aspect ratio */
    }
}
